<% presenter = UserPresenter.new(current_user) %>
<div class="row"> 
  <div class="col-9">
     <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Levels</th>
          <th scope="col">Created at</th>
          <% if presenter.has_doctor? %>
            <th scope="col">Patient</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @glucose_levels.each do |gl| %>
        <tr>
          <td><%= gl.glucose %></td>
          <td><%= gl.created_at.strftime("%Y-%m-%d") %></td>
          <% if presenter.has_doctor? %>
            <td><%= gl.user.name %></td>
          <% end %>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <% if @glucose_levels.present? && @glucose_revisions.present? %>
    Maximum glucose level: <%= @glucose_revisions[:max_glucose]%><br>
    Minimum glucose level: <%= @glucose_revisions[:min_glucose]%><br>
    Average glucose level: <%= @glucose_revisions[:avg_glucose]%>
    <% end %>
  </div>
</div>